Repository jimsheldon/drone-terraform-kubernetes-directory-demo: changes, and which Drone steps are due for each by the changed paths.
All: terraform init (dev), terraform plan (dev), terraform init (prod), terraform plan (prod), terraform apply (dev), terraform apply (prod)

terraform init (dev):
  image: hashicorp/terraform:1.1.8
  commands:
  - cd $DRONE_WORKSPACE/dev; terraform fmt -check
  - cd $DRONE_WORKSPACE/dev; terraform init -backend-config="secret_suffix=directory-dev" -backend-config="namespace=demo-dev"
  volumes:
  - name: dot-kube
    path: /root/.kube

terraform plan (dev):
  image: hashicorp/terraform:1.1.8
  commands:
  - cd $DRONE_WORKSPACE/dev; terraform plan
  volumes:
  - name: dot-kube
    path: /root/.kube

terraform init (prod):
  image: hashicorp/terraform:1.1.8
  commands:
  - cd $DRONE_WORKSPACE/prod; terraform fmt -check
  - cd $DRONE_WORKSPACE/prod; terraform init -backend-config="secret_suffix=directory-prod" -backend-config="namespace=demo-prod"
  volumes:
  - name: dot-kube
    path: /root/.kube

terraform plan (prod):
  image: hashicorp/terraform:1.1.8
  commands:
  - cd $DRONE_WORKSPACE/prod; terraform plan
  volumes:
  - name: dot-kube
    path: /root/.kube

terraform apply (dev):
  image: hashicorp/terraform:1.1.8
  commands:
  - cd $DRONE_WORKSPACE/dev; terraform apply -auto-approve
  volumes:
  - name: dot-kube
    path: /root/.kube

terraform apply (prod):
  image: hashicorp/terraform:1.1.8
  commands:
  - cd $DRONE_WORKSPACE/prod; terraform apply -auto-approve
  volumes:
  - name: dot-kube
    path: /root/.kube

ran fmt
  dev/terraform.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

two pipelines
  .drone.yml
Due: none

add ui_color
  dev/locals.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

fix service
  dev/service.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

fix name
  dev/deployment.tf
  dev/service.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

inital dev config (#1)
  .drone.yml
  dev/.terraform.lock.hcl
  dev/deployment.tf
  dev/locals.tf
  dev/service.tf
  dev/terraform.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

initial prod config
  prod/.terraform.lock.hcl
  prod/deployment.tf
  prod/locals.tf
  prod/service.tf
  prod/terraform.tf
Due: terraform init (prod), terraform plan (prod), terraform apply (prod)

initial prod config (#2)
  prod/.terraform.lock.hcl
  prod/deployment.tf
  prod/locals.tf
  prod/service.tf
  prod/terraform.tf
Due: terraform init (prod), terraform plan (prod), terraform apply (prod)

[skip ci] update readme
  README.md
Due: none

Rename deployment.tf to deployment.tf_DESTROYED
  dev/deployment.tf_DESTROYED
Due: none

update paths
  .drone.yml
Due: none

[skip ci] add pathschanged note
  README.md
Due: none

new message
  dev/deployment.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

new message (#5)
  dev/deployment.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

Update deployment.tf
  prod/deployment.tf
Due: terraform init (prod), terraform plan (prod), terraform apply (prod)

Update deployment.tf (#6)
  prod/deployment.tf
Due: terraform init (prod), terraform plan (prod), terraform apply (prod)

Update deployment.tf
  dev/deployment.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

same color
  dev/locals.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

Rename deployment.tf to deployment.tf_DESTROYED (#7)
  dev/deployment.tf_DESTROYED
Due: none

test
  dev/deployment.tf
Due: terraform init (dev), terraform plan (dev), terraform apply (dev)

Path conditions:
  terraform init (dev): any of: dev/*.tf
  terraform plan (dev): any of: dev/*.tf
  terraform init (prod): any of: prod/*.tf
  terraform plan (prod): any of: prod/*.tf
  terraform apply (dev): any of: dev/*.tf
  terraform apply (prod): any of: prod/*.tf
